.form {
    margin: 2rem auto;
    box-shadow: 0 1px 4px rgba(0,0,0,0.2);
    padding: 1rem;
    background-color: white;
    border-radius: 6px;
    width: 90%;
    max-width: 40rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
  }
  
  .controls {
    width: 100%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  
  .control {
    flex: 1;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
  }
  
  .control label {
    font-weight: bold;
  }
  
  .control select {
    font: inherit;
    background-color: white;
    border-radius: 6px;
    width: 70%;
    padding: 0.25rem;
  }
  
  .form button {
    width: 100%;
    font: inherit;
    padding: 0.25rem 0.5rem;
    background-color: #03be9f;
    border: 1px solid #03be9f;
    color: #dafff7;
    border-radius: 4px;
  }
  
  @media (min-width: 768px) {
    .form {
      flex-direction: row;
    }
  
    .controls {
      width: 80%;
      flex-direction: row;
    }
  
    .control select {
      width: 100%;
    }
  
    .form button {
      width: 20%;
    }
  }