.posts {
  width: 90%;
  max-width: 60rem;
  margin: var(--size-8) auto;
}

.posts h1 {
  font-size: var(--size-8);
  color: var(--color-grey-800);
  text-align: center;
}

@media (min-width: 768px) {
  .posts h1 {
    font-size: var(--size-16);
  }
}
